html, body, #app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: rgb(59, 169, 169)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nameEntry {
  display: flex;
  margin: 0 auto;
}

.message {
  /* position: relative; */
  margin-bottom: 30px;
  margin-left: 28%;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item h3:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

.nav {
  position: static;
  display: flex;
  flex-wrap: wrap;
  float: right;
  clear: both;
}

.newEntry {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.flexname {
  display: flex;
}

.form-inline {
  display: flex;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-right: 50%;
  float: left;
  clear: both;
}

.title {
  margin: 48px 0;
  text-align: center;
}

img.logo {
  margin: 0 auto;
  display: block;
}

.chat-input {
  flex: unset;
  width: calc(100% - 150px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: 1px solid #ced4da;
}

.btn {
  height: 48px;
  margin-left: 16px;
  border: 1px solid black;
}

.page-wrapper {
  height: 100%;
}

.chat-page {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
}